version: "3.8"

services:
  web:
    build: .
    command: bash -c "python main.py"
    volumes:
      - ./:/app
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres_user:postgres_passwd@db:5432/postgres_db
    depends_on:
      - db
    networks:
      - custom

  db:
    container_name: university_db
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_passwd
      - POSTGRES_DB=postgres_db
    ports:
      - 54320:5432
    volumes:
      - ../university_data:/var/lib/postgresql/data
    networks:
      - custom

  test_db:
    container_name: university_test_db
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_passwd
      - POSTGRES_DB=postgres_db
    ports:
      - 54330:5432
    networks:
      - custom

networks:
  custom:
    driver: bridge
